
body{
  background-color: #D6F5F3;

}




h1{
  text-align: center;
  font-family: monospace;
  font-size: 40px;
  font-weight: bold;

}

h2{
  font-family: monospace;
  font-weight: lighter;
  font-size: 25px;
}

p{
font-family: monospace;
font-weight: 200;
font-size: 20px;
}


img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;

}
